@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');

.fontone{
  font-family: 'Oxanium';
}

h1,h3{
  font-family: 'Lato';
}

.red{
  color: #d54d54;
}


.green{
  color: #228b22;
}

.greenlime{
  color: #32cd32;
}

.medium { font-size: 120% }
.larger { font-size: 130% }
.large { font-size: 160% }
.exlarge { font-size: 200% }
.extralarge { font-size: 110% }
.extra {font-size: 80%}

.white{
  color: #fffafa;
}

.rladies{
  color: #88398A;
}



.blue{
  color: #f8f0c8;
}


.blues{
  color: #00a1cb;
}

.nd{
  color: #ef9f4e;
}

.opaco{
  color: #5b5b5f;
}

 .weight {
  font-weight: bold;
}

.textcenter{text-align: center;}

.left{
  float: left;
  width: 1000px;
}

.right{
  float: right;
  width: 500px;
}

.textmiddle{margin: auto 0;}
.textoverline{text-decoration: underline; }

.textbottom{
  text-align: inherit;
}

.bottomright{
position: fixed;
right: 0px;
}
